* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$base: 150px;
$brick_color: #D92C0C;
$front_house: #E8A2A5;

%base {
    height: $base;
    width: $base;
}

%display {
    display: inline-block;
}

%square {
    @extend %base;
    background-color: blue;
}

%circle {
    @extend %base;
    background-color: yellow;
    border-radius: 100%;
}

%triangle {
    border-bottom: $base solid black;
    border-left: $base/2 solid transparent;
    border-right: $base/2 solid transparent;
    height: 0;
    width: 0;
}

.casa {
    margin: auto;
   // margin-top: $base;
    width: 50%;
}

.telhado {
    @extend %triangle;
    border-bottom-color: $brick-color !important;
    width: $base * 4 !important;
}

.frente {
    @extend %square;
    background-color: $front_house !important;
    float: left;
    margin-left: $base/2;
}

.fundos {
    @extend .frente;
    background-color: $front_house !important;
    border-left: 0.25px solid darken($front_house, 50);
    margin-left: 0;
    margin-right: $base/2;
    width: 2 * $base;
}

.porta {
    background-color: SaddleBrown;
    height: 0.6 * $base;
    margin: auto;
    margin-top: $base - (0.6 * $base);
    width: 0.45 * $base;
}

.macaneta {
    background-color: DarkGoldenRod;
    border-radius: 100%;
    height: $base/10;
    margin-left: $base/4;
    margin-top: $base - (0.75 * $base);
    position: absolute;
    width: $base/10;
}

.janela {
    @extend %square;
    background-color: Azure;
    border: $base/30 solid brown;
    height: 0.5 * $base;
    margin: auto;
    margin-top: $base - (0.7 * $base);
    width: 0.7 * $base;
}